<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" 
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="b" class="method_replacer.Bank">
		<replaced-method name="rateOfInterest" replacer="newRateOfinterest"></replaced-method>
	</bean>
	<bean id ="newRateOfinterest" class ="method_replacer.NewRateOfInterest">
	</bean>
</beans>