
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="cp" class="j_properties_setter_DI.ConnectionPool">
		<property name="driver">
			<util:properties location="classpath:j_properties_setter_DI/Drivers.properties" />
		</property>
		<property name="url">
			<util:properties location="classpath:j_properties_setter_DI/Drivers.properties" />
		</property>
		<property name="username">
			<util:properties location="classpath:j_properties_setter_DI/Drivers.properties" />
		</property>
		<property name="password">
			<util:properties location="classpath:j_properties_setter_DI/Drivers.properties" />
		</property>
	</bean>
	
</beans>