<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="student" class="j2EE_containerTest.Student" scope="prototype">
		<property name="rollNo" value="0017"/>
		<property name="name" value="Nag"></property>
	</bean>

</beans>